<a href="https://colab.research.google.com/github/Hungpham03/ADY201m/blob/main/HungPQQE170078_THUCHANH_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Phần 1: Thao tác dữ liệu

1.

In [ ]:
library(readr)
library(tidyverse)
library(dplyr)
library(lubridate)
library(broom)

In [ ]:
bike = read_csv("http://johnmuschelli.com/intro_to_r/data/Bike_Lanes.csv")

Rows: 1631 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): subType, name, block, type, project, route
dbl (3): numLanes, length, dateInstalled

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

2.

In [ ]:
nrow(bike)

[1] 1631

In [ ]:
sum(complete.cases(bike))

[1] 257

3.

In [ ]:
namat =is.na(bike)

In [ ]:
colSums(namat)

      subType          name         block          type      numLanes
            4            12           215             9             0
      project         route        length dateInstalled
           74          1269             0             0

In [ ]:
table(rowSums(namat))

   0    1    2    3    4
 257 1181  182    6    5

4.

In [ ]:
tax = read_csv("http://johnmuschelli.com/intro_to_r/data/Real_Property_Taxes.csv.gz")

Rows: 238298 Columns: 16
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (15): PropertyID, Block, Lot, Ward, Sect, PropertyAddress, LotSize, City...
dbl  (1): CouncilDistrict

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [ ]:
dim(tax)

[1] 238298     16

In [ ]:
nrow(tax)

[1] 238298

In [ ]:
length(tax$PropertyID)

[1] 238298

In [ ]:
sum(is.na(tax$CityTax))

[1] 19052

In [ ]:
sum(!is.na(tax$CityTax))

[1] 219246

# Phần 2: Thực hành Chuẩn hóa dữ liệu

1.

In [ ]:
rm(list = ls())

In [ ]:
data = c(1200,34567,3456,12,3456,0985,1211,100000)

In [ ]:
summary(data)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
     12    1146    2334   18111   11234  100000

In [ ]:
scale_data <- as.data.frame(scale(data))

In [ ]:
summary(scale_data)

       V1
 Min.   :-0.5164
 1st Qu.:-0.4840
 Median :-0.4502
 Mean   : 0.0000
 3rd Qu.:-0.1962
 Max.   : 2.3365

2.

In [ ]:
rm(list = ls())

In [ ]:
data = c(1200,34567,3456,12,3456,0985,1211)

In [ ]:
summary(data)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
     12    1092    1211    6412    3456   34567

In [ ]:
log_scale = log(as.data.frame(data))

In [ ]:
summary(log_scale)

      data
 Min.   : 2.485
 1st Qu.: 6.991
 Median : 7.099
 Mean   : 7.188
 3rd Qu.: 8.148
 Max.   :10.451